@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    padding: 0 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #fff;
    border-radius: 0.375rem;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* Button subclasses */
.button.primary {
    background-color: #3b82f6;
}

.button.primary:hover {
    background-color: #2563eb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.button.secondary {
    background-color: #818CF8;
}

.button.secondary:hover {
    background-color: #6366F1;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.button.danger {
    background-color: #F87171;
}

.button.danger:hover {
    background-color: #EF4444;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.button.success {
    background-color: #34D399;
}

.button.success:hover {
    background-color: #10B981;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}


.flex.items-center {
    align-items: center;
    justify-content: flex-start;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Sit on top of everything else */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    width: 80%;
    max-width: 500px;
}

.modal-content form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.folder-name {
    transition: color 0.3s ease;
}

.folder-name:hover {
    color: #7b7272;
    text-decoration: underline;
}

.error-popup {
    position: fixed;
    right: 20px;
    z-index: 1000;
    width: 300px;
    background-color: #f44336;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    transition: opacity 0.3s ease;
}

.error-popup .close-error {
    float: right;
    color: white;
    cursor: pointer;
}

.error-popup.show {
    display: block;
}

.success-popup {
    position: fixed;
    right: 20px;
    z-index: 1000;
    width: 300px;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    transition: opacity 0.3s ease;
}

.success-popup .close-success {
    float: right;
    color: white;
    cursor: pointer;
}

.success-popup.show {
    display: block;
}

.upload-form {
    position: fixed;
    bottom: 90px; /* высота кнопки + немного отступа */
    right: 20px;
    z-index: 1000; /* чтобы форма была под кнопкой */
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #111827;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
}

.input-file {
    border: none;
    background-color: #111827;
    color: #fff;
}

.menu-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
    background-color: #fbfbfb;
    color: #111827;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #e1e1e1;
}


.upload-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #46a049;
}

.command-button {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    background-color: #4CAF50;
    color: #fff;
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: xx-large;
}

.command-button:hover {
    background-color: #46a049;
}

.command-menu {
    display: none;
    position: fixed;
    bottom: 15vh;
    right: 2vw;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1vw;
    border-radius: 5px;
}

.command-menu button {
    display: block;
    width: 100%;
    padding: 1vw;
    margin-bottom: 0.5vh;
    text-align: left;
}

.command-menu button:hover {
    background-color: #d3d3d3;
}

.form-container {
    display: none;
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    transform: translateY(-50%);
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}
